@model EventosEnLineaVariados.Models.Boleto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Boleto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Seccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Seccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bloque)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bloque)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoBoleto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoBoleto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cargos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cargos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Moneda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Moneda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AsientosAsignados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AsientosAsignados)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormaEntrega)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormaEntrega)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaModificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaModificacion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
